{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th class="text-center">Id</th>
                <th class="text-center">Pseudo</th>
                <th class="text-center">Rôles</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr class="text-center">
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td class="text-center">
                    <a href="{{ path('details_utilisateur', {'id': utilisateur.id}) }}" class="btn btn-info mx-2">Détails</a>
                    <a href="{{ path('modif_utilisateur', {'id': utilisateur.id}) }}" class="btn btn-warning mx-2">Modifier</a>
                    <a href="{{ path('sup_utilisateur', {'id': utilisateur.id}) }}?csrf={{csrf_token('delete' ~ utilisateur.id)}}" class="btn btn-danger mx-2">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center my-5">
    <a href="{{ path('ajout_utilisateur') }}" class="btn btn-primary"><strong>Ajouter</strong></a>
    </div>
{% endblock %}
