{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Commentaire index</h1>

    <div>
        {% for commentaire in commentaires %}
            <div class="card my-5">
                <h5 class="card-header">Article : {{ commentaire.getIdArticle.getTitre }}</h5>
                <div class="card-body">
                    <h5 class="card-title">Auteur : {{ commentaire.getIdAuteur.getPseudo}}</h5>
                    <p class="card-text">{{ commentaire.contenu }}</p>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODO') %}
                        <a href="{{ path('sup_commentaire', {'id': commentaire.id}) }}?csrf={{csrf_token('delete' ~ commentaire.id)}}" onclick="return confirm('Etes-vous sûr de vouloir le supprimer ce commentaire ?');" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div>
                <p class="text-center">Aucun commentaire trouvé</p>
            </div>
        {% endfor %}
    <div>

{% endblock %}
