{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Article : {{ article.titre }}</h1>
    <div class ="d-flex flex-column flex-lg-row">
        <div class="card mr-2 mr-lg-5 w-100 w-lg-50">
            <img class="card-img-top" src="../article-img{{asset(article.image)}}" alt="{{ article.titre }} invisible">
            <div class="card-body">
                <h5 class="card-title">Auteur : {% if article.getIdAuteur().getPseudo() is defined %} {{article.getIdAuteur().getPseudo()}} {% else  %} auteur inconnu {% endif %}</h5>
                <p class="card-text">Date : {{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}</p>
                <div class="text-center d-flex flex-column">
                    <a href="{{ path('liste_articles') }}" class="btn btn-secondary my-2" >Retour</a>
                    {% if is_granted('ROLE_ECRIVAIN') %}
                        <a href="{{ path('modif_article', {'id': article.id}) }}" class="btn btn-warning my-2">Modifier</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('sup_article', {'id': article.id}) }}?csrf={{csrf_token('delete' ~ article.id)}}" class="btn btn-danger my-2">Supprimer</a>
                   {% endif %}
                </div>
            </div>
        </div>

        <div>
            <p>{{ article.contenu }}</p>
        </div>
    </div>

    <h2 class="my-4"> Commentaire : </h2>

    {% for commentaire in article.commentaires %}
        <p><strong>{{commentaire.getIdAuteur().getPseudo()|upper}}</strong> : {{commentaire.contenu}}</p>
    {% else %}
        <p>no records found</p>
    {% endfor %}

    {% if is_granted('ROLE_USER')%}
        {{ form(form) }}
    {% endif %}

{% endblock %}
