{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <div>
        {% for article in articles %}
        <div class="card text-center my-5">
          <div class="card-header">
            {{ article.titre }}
          </div>
          <div class="card-body">
            <h5 class="card-title">De {% if article.getIdAuteur().getPseudo() is defined %} {{article.getIdAuteur().getPseudo()}} {% else  %} auteur inconnu {% endif %}</h5>
            <p class="card-text">{{ article.contenu | slice(0, 100)}}...</p>
            <a href="{{ path('details_article', {'id': article.id}) }}" class="btn btn-info">Détails</a>
            {% if is_granted('ROLE_ECRIVAIN') and article.getIdAuteur().getId() is defined and article.getIdAuteur().getId() == app.user.id %}
                <a href="{{ path('modif_article', {'id': article.id}) }}" class="btn btn-warning my-2">Modifier</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('sup_article', {'id': article.id}) }}?csrf={{csrf_token('delete' ~ article.id)}}" class="btn btn-danger">Supprimer</a>
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            {{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}
          </div>
        </div>
        {% else %}
            <div>
                <p class="text-center">Aucun article a été trouvé</p>
            </div>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_ECRIVAIN') %}
        <div class="text-center my-5">
            <a href="{{ path('ajout_article') }}" class="btn btn-primary"><strong>Ajouter</strong></a>
        </div>
    {% endif %}

{% endblock %}
